<template>
    <div>
        <input type="radio" 
            v-model="valueInside" 
            :value="idInside" 
            :name="`${idInside}${labelInside}`"
            @input="$emit('change', valueInside)">
        <label :for="`${idInside}${labelInside}`">
            {{labelInside}}
        </label>
    </div>    
</template>

<script>
export default {
  props: {
    value: Number,
    label: String,
    id: Number,
  },
  data() {
    return {
      valueInside: null,
      labelInside: null,
      idInside: null
    };
  },
  watch: {
    value: {
      handler(newValue) {
        this.valueInside = newValue;
      },
      immediate: true
    },
    label: {
      handler(newLabel) {
        this.labelInside = newLabel;
      },
      immediate: true
    },
    id: {
      handler(newId) {
        this.idInside = newId;
      },
      immediate: true
    }
  }
};
</script>
